#top {
    width: 90%;
    position: fixed;
    top: 3%;
    left: 5%;
    text-align: center;
}

#top ul {
    text-align: center;
    list-style: none;
}

#top ul li {
    margin-right: 1%;
    width: 8%;
    height: 40px;
    line-height: 40px;
    float: left;
    font-size: 20px;
    background-color: #ffffffa0;
    border-radius: 50px;
    transition: 0.5s;
}

#top ul li:hover {
    background-color: #ffffff;
    color: #ff69b4;
}

#top ul li:first-child {
    margin-left: 1%;
}

#top ul:last-child {
    margin-right: 0;
}